@import url(type.css);
@import url(btn.css);

html, 
body{
    background-color: var(--bg);
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-header: #edf4fd;
    --light-bg: #f5fcff;
    --light-imgbg: #fcfbfbb2;

    --dark-header: #2d2d2d;
    --dark-bg: #515151;
    --dark-imgbg: #6e6e6e;

    --darkgrey: #2a2a2a;
    --white: #ffffff;
    --navy: #235877;
}

.light {
    --header: var(--light-header);
    --bg: var(--light-bg);
    --imgbg: var(--light-imgbg);
}

.dark {
    --header: var(--dark-header);
    --bg: var(--dark-bg);
    --imgbg: var(var(--dark-imgbg));
}

.main {
    background-color: var(--header);
}

.header {
    background-color: var(--bg);
}

h1 {
    color: #5cd9ff;
}

h4 {
    color: #b3daf7;
}

.dog-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 98.5vw;
    justify-content: space-around;
    align-content: space-around;
    font-family: 'Bitter', serif;
}

.dog-card {
    margin-top: 40px;
    text-align: center;
    background-color: var(--imgbg);
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 27%;
}

.name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.dog-image {
    margin-top: 50px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    width:380px;
    height:270px;
    margin: 0 auto;
}

.dog-price {
    margin-top: 10px;
    font-size: 50px;

}

.dog-description {
    font-size: 20px;
    margin-bottom: 10px;
}