@import url(type.css);
@import url(btn.css);

html, 
body{
    background-color: var(--bg);
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-header: #edf4fd;
    --light-bg: #f5fcff;
    --light-imgbg: #fcfbfbb2;

    --dark-header: #2d2d2d;
    --dark-bg: #515151;
    --dark-imgbg: #6e6e6e;

    --darkgrey: #2a2a2a;
    --white: #ffffff;
    --navy: #235877;
}

.light {
    --header: var(--light-header);
    --bg: var(--light-bg);
    --imgbg: var(--light-imgbg);
}

.dark {
    --header: var(--dark-header);
    --bg: var(--dark-bg);
    --imgbg: var(var(--dark-imgbg));
}

.main {
    background-color: var(--header);
}

.header {
    background-color: var(--bg);
}

h1 {
    color: #5cd9ff;
}

h4 {
    color: #b3daf7;
}

.dog-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 98.5vw;
    justify-content: space-around;
    align-content: space-around;
    font-family: 'Bitter', serif;
}

.dog-card {
    margin-top: 40px;
    text-align: center;
    background-color: var(--imgbg);
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 30%
}

.name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.dog-image {
    margin-top: 50px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    width:370px;
    height:260px;
    margin: 0 auto;
}

.dog-price {
    margin-top: 10px;
    font-size: 40px;

}

.dog-description {
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen 
 and (max-width:600px) {
  .dog-type{
   flex-direction: column;
  }
  .opt-btn{
    margin-top: 35px;
    height: 20px;
    font-size: 0.5rem;
    padding: 1px 3px;
    width: 6rem;
    height: 2rem;
    margin-left: 20px;
    border-radius: 10px;
  }
  #light {
    position: absolute;
    top: 10;
    right:10;
  }
  #dark {
    position: absolute;
    top: 55;
    right: 10;
  }
  .theme {
    padding: 1px 2px;
    font-size: 20px;
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center
  }
  .dog-card{
    margin-top: 40px;
    text-align: center;
    background-color: var(--imgbg);
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 80%
  }
  .dog-price{
    font-size: 30px;
  }
  .dog-image{
   width: 280px;
   height: 200px;
  }
}

 @media only screen   
and (min-device-width : 690px)   
and (max-device-width : 900px) {
  .dog-type{
   flex-direction: row;
  }
  
  .dog-card{
    margin-top: 40px;
    text-align: center;
    background-color: var(--imgbg);
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 30%;
  }
  .dog-price{
    font-size: 30px;
  }
  .dog-image {
   width: 100%;
   height: 100%;
  }
}
  